*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/capture
/app/build
/.externalNativeBuild
/.cxx
/google-services.json
*.keystore
!debug.keystore
*.jks
*.bin
*.lock
.aider*
.gemini/Plan
